body {
  margin: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

html, body {
  margin: 0;
  height: 100%;
}
#county-map {
  width: 100%;
  height: 100%;
  display: block;
}

#container {
  width: 100vw;
  height: 100vh;
}

canvas {
  display: block;
}

/* MODAL */
#modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none !important;
}

.modal-content {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
}

#close-btn {
  float: right;
  cursor: pointer;
}

#hover-label {
  position: fixed;
  pointer-events: none;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 12px;
  display: none;
  z-index: 9999;
  transform: translate(10px, 10px);
}